

<div class="main-container">
  <%# <%= current_user.username %>
    <div class="logo-container">
      <img src=<%= current_user.avatar %> alt="Logo">
    </div>
    <% if flash[:success].present? %>
      <script>
        showAlert("<%= flash[:success] %>", true);
      </script>
    <% elsif flash[:error].present? %>
      <script>
        showAlert("<%= flash[:error] %>", false);
      </script>
    <% end %>
  <div id="map">

    <div class="friends-dropdown">
      <button id="friends-dropdown-button">Friendsies</button>
      <div class="friends-dropdown-content">
        <%= form_with url: request_friend_path(friend_ids_array: @friend_ids_array), method: :post, class: 'add-friend', local: true do |form| %>
          <%# <%= form.label :username %>
          <%= form.text_field :username %>
          <%= form.submit 'Add friend' %>
        <% end %>
        <div id="friend-requests">
          <% if current_user.pending_request_ids && current_user.pending_request_ids.length > 0 %>
          <span class="requests-text">Requests</span>
          <ul>
            <% current_user.pending_request_ids.each do |id| %>
              <% user = User.find_by(id: id) %>
              <li><div><%= user.first_name %> (<a href="https://www.instagram.com/<%= user.username %>" target="_blank">@<%= user.username %></a>)</div>
                <div class="accept-reject">
                  <%= button_to 'Accept', accept_friend_path(user_id: user.id), method: :post %>
                  <%= button_to 'Reject', reject_friend_path(user_id: user.id), method: :post %>
                <div>
              </li>
            <% end %>
            </ul>
          <% end %>
          <% if @friend_ids_array.length > 0 %>
          <span class="requests-text">Friends</span>
          <ul>
            <% @friend_ids_array.each do |id| %>
            <% friend = User.find_by(id: id) %>
              <li><div><%= friend.first_name %> (<a href="https://www.instagram.com/<%= friend.username %>" target="_blank">@<%= friend.username %></a>)</div>
              </li>
            <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="latitude"></div>
  <div id="longitude"></div>

    <div id="note"></div>

    <div id="latitude-from-ip">from ip: <%= @latitude_from_ip %></div>
    <div id="longitude-from-ip">from ip: <%= @longitude_from_ip %></div>
</div>

<!-- Include Leaflet JS directly -->
<%# <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script> %>
   <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>

<script>
  var friends = <%= raw @friends.to_json %>
  var friendLocations = <%= raw @friend_locations.to_json %>;
  var friendsById = <%= raw @friends_by_id.to_json %>
  var latitudeFromIp = <%= @latitude_from_ip %>
  var longitudeFromIp = <%= @longitude_from_ip %>
  var latitudeFromGeocoder

window.onload = function() {

// Sending new location informaiton to server side to use to create new location instance
// navigator.geolocation.getCurrentPosition(function(position) {
//   var latitudeFromGeocoder = position.coords.latitude
//   var longitudeFromGeocoder = position.coords.longitude

//   // Testing
//   var latitudeFromGeocoder = 20
//   var longitudeFromGeocoder = 25
//   // Testing

//   console.log('defo defined now')

//   // send the location data to the server-side.
//   $.ajax({
//     url: '/locations',
//     type: 'GET',
//     dataType: 'json',
//     data: { latitude: latitudeFromGeocoder, longitude: longitudeFromGeocoder },
//     success: function(data) {
//       // handle the server-side response
//     }
//   })
// })
}

// creating a location instance on load so friends can see where you are
// document.addEventListener("DOMContentLoaded", function() {

//     console.log('creating the location istance')
//   // Retrieve the CSRF token from the meta tag
//   var csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content')

//   // Create the data string including the location parameters
//   var data = "location[latitude]=<%= session[:latitude] %>&location[longitude]=<%= session[:longitude] %>"

//   // Make an AJAX request to the create action
//   var xhr = new XMLHttpRequest()
//   xhr.open("POST", "/locations", true)
//   xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded")
//   xhr.setRequestHeader("X-CSRF-Token", csrfToken)
//   xhr.send(data)

// })

</script>

<%= javascript_include_tag 'map' %>
