

<h1><%= current_user.first_name %>'s Map Page</h1>

<div id="map" style="width: 100%; height: 500px;"></div>
<%= button_to 'Pin current location', locations_path(location: { current_location: true, visible: true}), method: :post, id: 'pin-location-button' %>

<!-- Include Leaflet JS directly -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>

<script>

var map;

// Adding all markers to the map
function addMarkersToMap() {
  <% location_array = Location.all %>
  <% Location.all.each do |l| %>
    <% if l.current_location === true %>
      var redIcon = L.icon({
        iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
      });

      var marker = L.marker([<%= l.latitude %>, <%= l.longitude %>], {icon: redIcon}).addTo(map)
        .bindPopup("<%= User.find_by(id: l.user_id).first_name %>'s current location").openPopup();
    <% end %>
  <% end %>
}

navigator.geolocation.getCurrentPosition(function(position) {
  var latitude = position.coords.latitude;
  var longitude = position.coords.longitude;

  // send the location data to the server-side
  $.ajax({
    url: '/locations',
    type: 'GET',
    dataType: 'json',
    data: { latitude: latitude, longitude: longitude },
    success: function(data) {
      // handle the server-side response
    }
  });
});

// Setting the loading position of the map
if (navigator.geolocation) {
  console.log("using geolocation")
  navigator.geolocation.getCurrentPosition(function(position) {
    var newLongitude = position.coords.longitude;
    var newLatitude = position.coords.latitude;
    map = L.map('map').setView([newLatitude, newLongitude], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: 'Map data &copy; OpenStreetMap contributors'
    }).addTo(map);

    addMarkersToMap();
    map.setView([newLatitude, newLongitude], 13);
  });
} else {
  console.log("using ip address")
  map = L.map('map').setView([<%= @latitude %>, <%= @longitude %>], 13);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; OpenStreetMap contributors'
  }).addTo(map);

  addMarkersToMap();
}

</script>
