
<meta name="viewport" content="width=device-width, initial-scale=1">
<%# <div class="main-container"> %>
    <div class="avatar-container <%=current_user.avatar.include?('backpack-icon-large') ? "" : "profile-pic"%>">
      <img src=<%= current_user.avatar %> alt="Logo">
    </div>
    <div class="logo-container">
      <img src="/assets/backtracklogosmall.png" alt="Logo">
    </div>
    <% if flash[:success].present? %>
      <script>
        showAlert("<%= flash[:success] %>", true);
      </script>
    <% elsif flash[:error].present? %>
      <script>
        showAlert("<%= flash[:error] %>", false);
      </script>
    <% end %>
  <div id="map">

    <div class="friends-dropdown">
      <button id="friends-dropdown-button">Friends</button>
      <div class="friends-dropdown-content">
        <%= form_with url: request_friend_path(friend_ids_array: @friend_ids_array), method: :post, class: 'add-friend', local: true do |form| %>
          <%# <%= form.label :username %>
          <%= form.text_field :username %>
          <%= form.submit 'Add friend' %>
        <% end %>
        <div id="friend-requests">
          <% if current_user.pending_request_ids && current_user.pending_request_ids.length > 0 %>
          <span class="requests-text">Requests</span>
          <ul>
            <% current_user.pending_request_ids.each do |id| %>
              <% user = User.find_by(id: id) %>
              <li>
                <div>
                  <%= user.first_name %>
                  <% if user.instagram_account %>
                    (<a href="https://www.instagram.com/<%= user.username %>" target="_blank">@<%= user.username %></a>)
                  <% else %>
                    (@<%= user.username %>)
                  <% end %>
                </div>
                <div class="accept-reject">
                  <%= button_to 'Accept', accept_friend_path(user_id: user.id), method: :post %>
                  <%= button_to 'Reject', reject_friend_path(user_id: user.id), method: :post %>
                <div>
              </li>
            <% end %>
            </ul>
          <% end %>
          <% if @friend_ids_array.length > 0 %>
          <span class="requests-text">Friends</span>
          <ul>
            <% @friend_ids_array.each do |id| %>
            <% friend = User.find_by(id: id) %>
              <li>
                <div>
                  <%= friend.first_name %>
                  <% if friend.instagram_account %>
                    (<a href="https://www.instagram.com/<%= friend.username %>" target="_blank">@<%= friend.username %></a>)
                  <% else %>
                    (@<%= friend.username %>)
                  <% end %>
                </div>
              </li>
            <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<%# </div> %>

<!-- Include Leaflet JS directly -->
<link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>

<script>
  var friends = <%= raw @friends.to_json %>
  var friendLocations = <%= raw @friend_locations.to_json %>;
  var friendsById = <%= raw @friends_by_id.to_json %>
  var latitudeFromIp = <%= @latitude_from_ip %>
  var longitudeFromIp = <%= @longitude_from_ip %>
  var latitudeFromGeocoder
</script>

<%= javascript_include_tag 'map' %>
