<h1>Map Page</h1>

<div id="map" style="width: 100%; height: 500px;"></div>
<%= button_to 'Pin current location', locations_path(location: { latitude: @latitude, longitude: @longitude, current_location: true, visible: true}), method: :post %>
<%# <%= button_to 'Pin current location', locations_path(location: { latitude: @latitude, longitude: @longitude, current_location: true, visible: true}), method: :post %>


<!-- Include Leaflet JS directly -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>

<script>
  var map = L.map('map').setView([<%= @latitude %>, <%= @longitude %>], 13);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; OpenStreetMap contributors'
  }).addTo(map);

  function addMarker() {

    console.log('add marker being executed')
  <% current_user.locations.each do |location| %>
  <% if location.current_location === true %>
    var redIcon = L.icon({
      iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
      shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
      iconSize: [25, 41],
      iconAnchor: [12, 41],
      popupAnchor: [1, -34],
      shadowSize: [41, 41]
    });

    L.marker([<%= location.latitude %>, <%= location.longitude %>], {icon: redIcon}).addTo(map)
      .bindPopup("<%= current_user.first_name %>'s current location").openPopup();
  <% end %>
  <% end %>
  }

  addMarker()
</script>
